/* .headerContainer{
    background: #005ce6;
    background-size: contain;
    width: 100%;
    height: 500px;
    margin-bottom: 15px;

    background: url('../../../../assets/taj-mahal.jpg') no-repeat  center;
}

@media only screen and (max-width: 600px) {
    .headerContainer{
        background: #005ce6;
        background-size: contain;
        height: 250px;
        width: 100%;
        margin-bottom: 0px;
        background: url('../../../../assets/tendulkarsmall.jpg') no-repeat  center;
    }
  }
 */
 .headerContainer{
    background: #005ce6;
    background-size: contain;
    height: 450px;
    width: 100%;
    margin-bottom: 0px;
    background: url('../../../../assets/sydneyharbour.jpg') no-repeat  center;
}
@media only screen and (max-width: 600px) {
    .headerContainer{
        
        height: 250px;
        width: 100%;
        padding: 10px 20px;
        background: url('../../../../assets/australiatravel.jpg') no-repeat  center;
    }
  }