.timer{
    color: red;
}

.mainImg {
    text-align: center;
}

.content{
  display: none;
}
/* @media screen and (max-width: 600px) {
    .content{
      display: none;
    }

    .headMobile{
      display: block;
    }
  }

  @media screen and (min-width: 600px) {
      
    .content{
      display: block;
    }
    .headMobile{
      display: none;
    }
  } 
 */
