.container{   
    padding: 20px;
    box-shadow: 0px 4px 20.9px 3.1px rgb(13 13 13 / 43%);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.heading{
    margin: 25px;
    padding: 25px;
    
}
.cardImg{
 padding: 10px;
}
