.headerContainer{
    background: #005ce6;
    background-size: contain;
    width: 100%;
    height: 500px;
    margin-bottom: 15px;

    background: url('../../../assets/elephant.jpg') no-repeat  center;
}

@media only screen and (max-width: 600px) {
    .headerContainer{
        background: #005ce6;
        background-size: contain;
        height: 250px;
        width: 100%;
        margin-bottom: 0px;
        background: url('../../../assets/zall.jpg') no-repeat  center;
    }
  }

